.container {
  width: 100vw;
}
.header {
  position: relative;
  max-width: 100vw;
  min-height: 396px;
  overflow: hidden;
}

.header::before {
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  background-image: url('../../../public/background.png');
  background-size: cover;
  filter: blur(8.154845237731934px);
  background-position: center;
}

.headerTop {
  position: relative;
  z-index: 1;
  opacity: 1;
  display: flex;
  justify-content: space-between;
  padding-left: 6vw;
  padding-right: 6vw;
  padding-top: 48px;
}

.siteName {
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0;
  cursor: pointer;
  color: var(--red-accent);
}

.widePartOfName {
  font-weight: 900;
}

.headerContent {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-left: 10vw;
  margin-right: 10vw;
  width: 80vw;
  form {
    width: 80vw;
  }
}

.contentHeader {
  font-family: Montserrat, sans-serif;
  font-weight: 300;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: left;
}

.mainContainer {
  background-color: var(--blackish);
}

.tabs {
  display: flex;
  justify-content: space-between;
  height: 57px;
  margin-left: 2vw;
  margin-right: 2vw;
  .tabsItems {
    list-style: none;
    display: flex;
    gap: 16px;
  }
}

.navContentContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tabsItems {
  display: flex;
}

.tabsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  button {
    border: none;
    background: none;
    font-family: Montserrat, serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0;
    text-transform: uppercase;
    cursor: pointer;
    padding-bottom: 8px;
    color: var(--white);
  }
}

.active {
  border-bottom: 2px solid var(--red-accent);
}

.movieList {
  margin-top: 16px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  row-gap: 32px;
}
