.label {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0.89px;
  text-transform: uppercase;
  color: var(--white);
  padding: 6px;
}

.labelContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  all: unset;
  display: flex;
}
